.app.dark {
  --bg-color: #1a1a33;
  --secondary-bg-color: #2b2b54;
  --inverted-bg-color: #e1e1e1;
  --primary-color: #fff;
  --secondary-color: #acacb0;
  --inverted-primary-color: #000062;
  --inverted-secondary-color: #314965;
}