.app.normal {
  --bg-color: #e1e1e1;
  --secondary-bg-color: #bdbdbd;
  --inverted-bg-color: #1a1a33;

  --primary-color: #000062;
  --secondary-color: #314965;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #acacb0;
}