.Navbar {
  width: 100%;
  height: var(--navbart-height);
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 30px;
}